<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @* bring in your needed links for using bootstrap
        order seems to be important for successful use*@
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    @* follow these links and scripts with any of your own
        custom css files*@
    <link href="~/Content/CustomStyles.css" rel="stylesheet" />
    @* Leave the RenderSection as your last item as this area
        can be sent on a individual web content page*@
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container-fluid">
        @* menu for the web application *@
        @RenderPage("_Menu.cshtml")
        <br /><br />
        <div class="jumbotron">
            @RenderSection("banner", required: true)
        </div>

        @RenderBody()
        @RenderSection("foot", required: false)
    </div>
</body>
</html>
